.register__password {
      background-color: black;
  border: 0;
  border-bottom: 2px solid #cccccc;
  margin-top: 30px;
  padding-bottom: 7px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}